body{
    background-color: lightgray;
    color: black;
    font-family: arial, sans-serif;
    
}
table{
    border: 1px solid black;
    
}
td{
    padding: 10px;
}
input, textarea{
    border-radius: 5px;

}
button:hover{
    background-color: red;
    border-radius: 5px;
    
}
a:hover{

    background-color: red;
}